{{#each gigs as |gig|}}
  <div id='gig-{{gig._id}}' class="gig-container">
    <div class="gig">
      <h3 class="gig-title">{{gig.title}}</h3>
      <i class="material-icons">date_range</i><span class="gig-details">{{gig.date}}</span><br>
      <i class="material-icons">access_time</i><span class="gig-details">{{gig.time}}</span><br>
      <i class="material-icons">place</i><span class="gig-details">{{gig.place}}</span><br>
      <hr>
      <p class="gig-description">{{gig.text}}</p>
    </div>
  </div>
{{/each}}
